<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Chat Application</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <div class="container">
    <div class="logo">
      <div class="diamond"></div>
      <img src="{{ url_for('static', filename='diamond-logo.png.jpg') }}" alt="Diamond Logo" class="diamond-img" />
      <h1>Chat Application</h1>
    </div>
    <div class="buttons">
      <a class="btn sign-in" href="{{ url_for('home')}}">Enter Chat</a>
    </div>
  </div>
</body>
</html>
